body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
  cursor: text;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e0e1e5;
}
a {
  text-decoration: none;
  color: black;
}
p {
  margin: 0px;
}
button {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border-style: none;
}
.page {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.urbanist-font {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
.bottom-border {
  padding-bottom: 0.75rem;
  border-bottom-width: 1px;
}
.flex {
  display: flex;
}
.ml-auto {
  margin-left: auto;
}
.relative {
  position: relative;
}
.hidden {
  opacity: 0;
  display: none;
}
.visible {
  opacity: 1;
  display: block;
}
.none {
  display: none;
}
.ml-auto {
  margin-left: auto;
}
.gray {
  color: rgb(125, 125, 125);
}
.container {
  background-color: white;
  border-style: solid;
  border-color: rgb(224 225 229);
  border-width: 1px;
  border-radius: 0.5rem;
}

/* header */
.header {
  position: absolute;
  pointer-events: none;
  width: 100%;
  background: transparent;
  color: black;
  top: 0;
  display: flex;
  padding: 20px;
}
.header-item {
  pointer-events: auto;
}
.button {
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}
.hover-button:hover {
  background: auto;
  background-color: rgb(240, 240, 240);
}
.s_icon {
  width: 1.5rem;
  display: block;
}
/* logo menu in the header */
.menu {
  cursor: default;
  position: absolute;
  width: 230px;
  padding: 1rem 0.5rem;

  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.3s;

  background-color: white;
  border-style: solid;
  border-color: rgb(224 225 229);
  border-width: 1px;
  border-radius: 0.5rem;

  font-size: 0.9rem;
  line-height: 1.5rem;
}
.menu-item {
  margin: auto 0.5rem;
}
.menu-title {
  color: rgb(133, 133, 133);
  margin-bottom: 0.5rem;
}
.menu-button {
  margin: 0;
  text-align: left;
  width: 100%;
}
/* three dots */
.three-dots-menu {
  right: 0;
}

/* text area */
#content {
  flex: 1;
  padding: 0px;
  box-sizing: border-box;
}
#main-textarea {
  background-color: white;
  cursor: text;
  width: 100%;
  height: 100vh;
  resize: none;
  padding: calc(1em + 68px) max(-372px + 50vw, 1em) 5em;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 200%;
  outline: none;
  border: none;
  user-select: auto;
  scroll-padding-bottom: 0px;
}

.popup-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dictionary-manager-container {
  padding: 0 0.5em;
}

.add-dictionary-container {
}

#add-dictionary-button {
}

.dictionary-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 0.5em;
}

/* Responsive adjustments */
/* small screen */
@media (max-width: 600px) {
  /* #main-textarea {
    padding-left: 20px;
    padding-right: 20px;
  } */
}
/* big screen */
@media (min-width: 1200px) {
  /* #main-textarea {
    padding-left: 30vw;
    padding-right: 30vw;
  } */
}

/* dark mode implementation */
.dark-mode #main-textarea,
.dark-mode .menu,
.dark-mode a,
.dark-mode span,
.dark-mode p {
  background-color: rgb(18, 18, 18);
  color: white;
  border-color: #404040;
}
.dark-mode button {
  transition: none;
}
.dark-mode .hover-button:hover {
  background-color: rgb(31, 31, 31);
}
.dark-mode .menu-title {
  color: rgb(133, 133, 133);
}
